<h1>{{title}}</h1>

<div id="portfolios-container">
  {{#each user.portfolios}}
    <div class="portfolio">
      <a href="/dashboard/portfolio/{{_id}}">
        <p class="name">{{name}}</p>
        <p class="notes">{{notes}}</p>
      </a>
      <button
        class="btn-update"
        data-user-id="{{_id}}"
        data-name="{{name}}"
        data-notes="{{notes}}"
      >Edit</button>
      <button class="btn-delete" data-user-id="{{_id}}">Delete</button>
    </div>
  {{/each}}
</div>

<div id="create-portfolio">
  <label for="create-name">Name</label>
  <input type="text" value="" id="create-name"/>

  <label for="create-notes">Notes</label>
  <input type="text" value="" id="create-notes"/>

  <button id="btn-create">Create</button>
</div>