{{#if title}}
  <h1>{{title}}</h1>
{{/if}}

<div id="portfolios-container">
  {{#each user.portfolios}}
    <div class="portfolio">
      <a href="/dashboard/portfolio/{{_id}}">
        <p class="name">{{name}}</p>
        <p class="notes">{{notes}}</p>
      </a>
      <button
        class="btn-update"
        data-user-id="{{_id}}"
        data-name="{{name}}"
        data-notes="{{notes}}"
      >Edit</button>
      <button class="btn-delete" data-user-id="{{_id}}">Delete</button>
    </div>
  {{/each}}
</div>

<div id="create-portfolio">
  <input type="text" placeholder="Portfolio's name" value="" id="create-name" />
  <input
    type="text"
    placeholder="Portfolio's notes"
    value=""
    id="create-notes"
  />
  <button>Create</button>
</div>