<h3>Welcome to your customizable crypto newsfeed</h3>

<p>
    Getting informed on your asset is <b>of paramount iportance</b> !<br>
    <b>Enjoy</b> reading your crypto news with CrypotoFolio, a fullstack application powered by expressjs, mongodb and
    hbs.
</p>

<hr>

<h4>Select a specific crypto news</h4>

<label for="cryptochoice">Choose a specific crypto news:</label>
<input list="cryptochoice-1" id="cryptochoice" name="cryptochoice" />

<h4>Reading Crypto {{selectedCrypto.name}}'s news</h4>

<br>

<datalist id="cryptochoice-1">
    {{#each crypto}}
    <option value={{this.symbol}}>
        {{/each}}
</datalist>


<div class=newsmodule>
    <ul class="newsmodule">
        {{#each allNews}}
        <li><span class="title">{{this.title}}</span><br>
            <span class="date"> {{this.published_at}}</span><br>
            <a href={{this.url}}>Read this news</a>
        </li>
        {{/each}}
    </ul>
</div>
<br><br>

{{!-- <a href="/newsfeed/BTC">BTC LATEST NEWS</a>
<a href="/newsfeed/ETH">ETH LATEST NEWS</a>
<a href="/newsfeed/BNB">BNB LATEST NEWS</a>
<a href="/newsfeed/XRP">XRP LATEST NEWS</a> --}}







<script>

    const selectElement = document.querySelector("#cryptochoice");

    selectElement.addEventListener("change", (evt) => {
        console.log("EVT TARGET", evt.target);
        console.log(evt.target.value);
        const cryptoSelected = evt.target.value;
        document.location.href = `/newsfeed/${cryptoSelected}`
    })


</script>



{{!-- axios.get(`/newsfeed/${cryptoSelected}`) --}}