<h1>This is the crypto details page</h1>

<div>
    <a href="/dashboard/portfolio/{{portfolioId}}"><i class="fas fa-arrow-left"></i></a>
    <h3>{{crypto.name}}</h3>
    <i class="far fa-heart"></i>
    <i class="fas fa-heart"></i>
</div>

<div>
    <h2>{{crypto.current_price}}</h2>
    <input id="quantity-input" type="number" value="0" name="quantity">
</div>

<canvas width="500"></canvas>

<div>
    <button data-portfolioId={{portfolioId}} data-holdingId={{holdingId}} id="update-coin-btn">Update quantity</button>
    <a href="/dashboard/portfolio/{{portfolioId}}/holding/{{holdingId}}/delete" id="remove-coin-a">Remove coin</a>
    <button id="cancel-update-btn">Cancel</button>
    <button id="confirm-update-btn">Confirm</button>
</div>