<h2>{{portfolio.name}}</h2>

<div id="value-and-notes-container" class="div-portfolio-details">
    <h5>Total value</h5>
    <h3><b>${{totalPortfolioValue}}</b></h3>
    <p>{{portfolio.notes}}</p>
</div>

<div class="div-portfolio-details">
    {{#if portfolio.holdings}}
    {{#each portfolio.holdings}}
        <a href="/dashboard/portfolio/{{../portfolio._id}}/crypto/{{this.crypto._id}}">
            <div id="all-crypto-details">
                <img src={{this.crypto.image}} alt={{this.crypto.name}}>
                <span>{{this.crypto.name}}</span>
                <span>${{this.crypto.current_price}}</span>
                <div>
                    <span>{{this.quantity}}</span>
                    <span>${{this.value}}</span>
                </div>
            </div>
        </a>
    {{/each}}
    {{else}}
        <p>You don't have any crypto in this portfolio for the moment.</p>
        <p>You can add one with the button below.</p>
    {{/if}}
</div>

<div id="add-a-crypto-div" class="div-portfolio-details">
    <span>Add a crypto to my portfolio</span>
    <a id="add-holding-link" href="/dashboard/portfolio/{{portfolio._id}}/all-crypto"><i class="fas fa-plus-circle"></i></a>
</div>