<h1>This is the portfolio details page</h1>

<h2>{{portfolio.name}}</h2>

<div>
    <h3>Total value: <b>${{totalPortfolioValue}}</b></h3>
    <p>{{portfolio.notes}}</p>
</div>

<div>
    {{#each portfolio.holdings}}
        <a href="/dashboard/portfolio/{{../portfolio._id}}/crypto/{{this.crypto._id}}">
            <div>
                <img src={{this.crypto.image}} alt={{this.crypto.name}}>
                <span>{{this.crypto.name}}</span>
                <span>${{this.crypto.current_price}}</span>
                <div>
                    <span>{{this.quantity}}</span>
                    <span>${{this.value}}</span>
                </div>
            </div>
        </a>
    {{/each}}
</div>

<div>
    <a href="/dashboard/portfolio/{{portfolio._id}}/all-crypto"><i class="fas fa-plus-circle"></i></a>
</div>